.page {
  max-width: 1280px;
  color: #fff;
  font-family: Inter, Arial, Helvetica, sans-serif, Arial, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  margin: 0 auto;
  box-sizing: border-box;
}

/* @media (min-width: 1024px) {
  .page {
    max-width: 1024px;
  }
} */
