.navigation {
  width: 100%;
  margin-left: 44px;
}

.navigation__block-layer {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  background-color:aqua;
}

.navigation__block-layer_active {
  position:absolute;
}


.navigation__list {
  width: 100%;
  list-style: none;
  display: flex;
  gap: 16px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navigation__link {
  text-decoration: none;
  color: #FFF;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  transition: opacity .3s linear;
}

.navigation__link:hover {
  opacity: .7;
}

.navigation__accaunt {
  height: 32px;
  display: flex;
  flex-direction: row;
  gap: 7px;
  justify-content: space-between;
  align-items: center;
}

.navigation__link_position{
  margin-left: auto;
}

.navigation__link_accaunt{
  font-feature-settings: 'clig' off, 'liga' off;
  font-weight: 500;
  line-height: 12px;
  display: flex;
  align-items: center;
  gap: 7px;
}

.navigation__accaunt-icon {
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 50px;
  background: center no-repeat #313131 url(../../images/icon__COLOR_icon-main.svg);
}

.navigation__link_active {
  font-weight: 500;
}

.navigation__link_unplug {
  display: none;
}

.navigation__hamburger{
  display: none;
}

.stop-scroll{
  overflow: hidden;
}

@media (max-width: 880px) {
  .navigation__hamburger{
    display: block;
    z-index:40;
    position: relative;
    width: 44px;
    height: 44px;
    margin-left: auto;
    transition: opacity  0.4s linear;
  }

  .navigation__hamburger:hover{
    opacity: .7;
  }
  
  .navigation__hamburger-toogle {
    position: absolute;
    height: 44px;
    width: 44px;
    z-index:50;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
  }
  
  .navigation__hamburger-btn{
    position: absolute;
    top: 0;
    left: 0;
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navigation__hamburger-btn > span{
    position: relative;
    top: 0;
    left: 0;
    background: white;
    height: 2px;
    width: 60%;
    transition: all  0.4s ease;
  }
  
  .navigation__hamburger-btn > span::before,
  .navigation__hamburger-btn > span::after{
      content: '';
      position: absolute;
      top: -10px;
      background: white;
      width: 100%;
      height: 2px;
      transition: all  0.4s ease;
  }
  
  .navigation__hamburger-btn > span::after{
      top: 10px;
  }

  .navigation__hamburger-toogle:checked + .navigation__hamburger-btn > span {
    transform: rotate(45deg);
  }
  .navigation__hamburger-toogle:checked + .navigation__hamburger-btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  .navigation__hamburger-toogle:checked + .navigation__hamburger-btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  .navigation__hamburger-box {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    background: #202020;
    z-index:10;
    max-width: 520px;
    height: 100vh;
    transform: translateY(-100%);
  }

  .navigation__hamburger-box_active{
    display: flex;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.4s ease-in-out;
  }

  .navigation__list {
    flex-direction: column;
    gap: 28px;
    box-sizing: border-box;
    padding: 159px 0 90px 0;
  }

  .navigation__link_position {
    margin: auto 0 0 0;
  }
  
  .navigation__link{
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 4px;
  }

  .navigation__link_active{
    border-bottom: 2px solid;
  }

  .navigation__link_unplug {
    display: list-item;
  }  

}

@media (max-width: 600px) {
  .navigation__list {
    gap: 24px;
    padding: 144px 0 46px 0;
  }

  .navigation__hamburger-box_active{
    width: 100%;
  }
}
