.navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 44px;
}

.navigation__list {
  display: flex;
  gap: 16px;
  align-items: center;
}

.navigation__link {
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.navigation__accaunt {
  height: 32px;
  display: flex;
  flex-direction: row;
  gap: 7px;
  justify-content: space-between;
  align-items: center;
}

.navigation__accaunt-icon {
  position: relative;
  width: 26px;
  height: 26px;
  border-radius: 50px;
  background: center no-repeat #313131 url(../../images/icon__COLOR_icon-main.svg);
}

.navigation_active {
  font-size: 500;
}