.header {
  top: 0;
  left: 0;
  height: 74px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
}

.header_colorize {
  background: #073042;
}

.header__logo {
  width: 38px;
  height: 38px;
}

.header__logo_link {
  text-decoration: none;
  font-size: 0;
}

.header__auth{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;  
}

.header__auth-link{
  display: block;
  text-decoration: none;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  transition: opacity .3 linear;
}

.header__auth-link_signup{
  color: #FFF;
}

.header__auth-link_signin{
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 32px;
  border-radius: 3px;
  background: #3DDC84;
}

.header__auth-link:hover{
  opacity: .7;
}



@media (max-width: 880px) {
  .header {
    padding: 0 30px;
  }
}

@media (max-width: 600px) {
  .header {
    padding: 0 14px;
  }

  .header__auth{
    gap: 14px;  
  }

  .header__auth-link{
    font-size: 10px;
  }

  .header__auth-link_signin{
    width: 54px;
    height: 26px;
  }
}