.aboutProject {
  box-sizing: border-box;
  padding: 110px 70px;
}

.aboutProject__title {
  color: #fff;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  border-bottom: 1px solid #dadada;
  padding-bottom: 23px;
  margin: 0;
}

.aboutProject__context {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  gap: 40px;
}

.aboutProject__article {
  max-width: 550px;
}

.aboutProject__article-title {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
  margin: 0;
}

.aboutProject__article-text {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  margin-top: 26px;
}

.aboutProject__grid {
  display: grid;
  grid-template-columns: 228px 1fr;
  grid-template-rows: 36px 31px;
  margin-top: 110px;
}

.aboutProject__cell-header {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutProject__cell-header_left {
  color: #000;
  background-color: #3ddc84;
}

.aboutProject__cell-header_right {
  color: #fff;
  background: #303030;
}

.aboutProject__cell-content {
  color: #8b8b8b;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media (max-width: 880px) {
  .aboutProject {
    padding: 90px 50px;
  }

  .aboutProject__context {
    gap: 38px;
  }

  .aboutProject__article-text {
    font-size: 12px;
    line-height: 18px;
    margin-top: 22px;
  }

  .aboutProject__grid {
    margin-top: 93px;
    grid-template-columns: 140px 1fr;
  }
}

@media (max-width: 600px) {
  .aboutProject {
    padding: 70px 18px;
  }

  .aboutProject__title {
    font-size: 18px;
    letter-spacing: -0.72px;
    padding-bottom: 28px;
  }

  .aboutProject__context {
    flex-direction: column;
    margin-top: 63px;
    gap: 58px;
  }

  .aboutProject__article-title {
    font-size: 18px;
    letter-spacing: -0.72px;
  }

  .aboutProject__article-text {
    max-width: 350px;
    font-size: 11px;
    line-height: 16px;
    margin-top: 16px;
  }

  .aboutProject__grid {
    margin-top: 60px;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 35px 25px;
  }

  .aboutProject__cell-header {
    font-size: 11px;
  }
  
  .aboutProject__cell-content {
    font-size: 11px;
  }
}
